# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Images
*.svg

# Files of VScode
*.json

#Compilador
*.sh

#Archivos de datos y wfn
*.dat
*.wfn

#Arhivo general de la fuente
/evalrho.cpp

# Mis librerias creada
aim/
MonteCarlo/

# Documentación
docs/